.container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: grid;
  grid-template-areas: "button input" "result result";
  align-items: center;
  grid-template-columns: 1fr 8fr;
  width: calc(100% - 20px);

  .search-icon {
    padding: 1em;
    grid-area: button;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    cursor: pointer;
  }

  .search-input {
    grid-area: input;
    width: 0px;
    width: 0px;
    margin: 0;
    border: none;
    transform: translateX(-1.5em);
    z-index: 2;
    position: relative;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    background-color: #fff;

    .no-break {
      width: 100%;
      display: flex;

      input {
        -webkit-appearance: none;
        padding: 1em 0.5em 1em 2em;
        border: 0;
        width: 80%;
      }

      .advanced-button {
        width: 20%;
        transform: translateY(50%);
        font-size: 1.5em;
        cursor: pointer;
        color: gray;
      }
    }

  }

  .open {
    width: calc(100% + 1.5em);
    transition: all 1s ease;
  }

  .search-result {
    grid-area: result;
    background-color: white;
    overflow: hidden;
    transform: translateY(-1.5em);
    width: 0;
    padding: 0px;
    overflow: hidden;
    transition: all 1s ease;
    z-index: 1;

    ul {

      li {
        cursor: pointer;
        white-space: nowrap;
        padding: 0.5em 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border: none;
        }
      }
    }
  }

  .search-result-open {
    width: calc(100%);
    padding: 2em 0.5em 0.5em 0.5em;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
}

.container-open{
  grid-template-columns: 1fr 8fr;
  width: calc(100% - 20px);
  grid-template-areas: "button input" "result result";
}

@media only screen and (min-width: 600px) {
  .container {
    width: 350px;
  }
}