.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "button input" "result result";
  width: 100%;
  align-items: center;

  .search-icon {
    padding: 1em;
    grid-area: button;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    cursor: pointer;
  }

  .search-input {
    grid-area: input;
    width: 0px;
    margin: 0;
    border: none;
    transform: translateX(-1.5em);
    z-index: 1;
    position: relative;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    background-color: #fff;

    .no-break {
      width: 100%;
      display: flex;

      input {
        -webkit-appearance: none;
        padding: 1em 0.5em 1em 2em;
        border: 0;
        width: 70%;
      }

      span {
        width: 30%;
        margin: 1.3em 1em 1.3em 0;
        font-size: 0.8em;
        cursor: pointer;
        color: gray;
        white-space: nowrap;
        text-align: right;
      }
    }

  }

  .open {
    width: calc(100% + 1.5em);
    transition: all 1s ease;
  }

  .search-result {
    grid-area: result;
    background-color: white;
    overflow: hidden;
    transform: translateY(-1.5em);
    width: 0;
    padding: 0px;
    overflow: hidden;
    transition: all 1s ease;

    ul {

      li {
        cursor: pointer;
        white-space: nowrap
      }
    }
  }

  .search-result-open {
    width: calc(100%);
    padding: 2em 0.5em 0.5em 0.5em;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 350px;
  }
}