<app-top-bar [setUserLocation]="mapService.userLocation"></app-top-bar>

<div class="direction-container">
  <ul *ngIf="!!directionOrigin && !!directionDestination">
    <li class="direction-toggle"
        (click)="directionSettingsOpen = !directionSettingsOpen">
      <i class="fas fa-cog"></i>
    </li>
    <ul class="settings"
        [ngClass]="{'open': directionSettingsOpen}">
      <li *ngFor="let mode of directionsOptions.travelModes"
          [ngClass]="{'active': directionsOptions.selectedMode === mode.mode}"
          (click)="onChangeDirectionMode(mode)">
        {{mode.sv}}
      </li>
      <li (click)="setDestinationOrigin()">
      <span style="color: black">
        <i class="fas fa-map-marker-alt"></i>
      </span>
        Byt startpunkt
      </li>
      <li (click)="redirectNavigationInGoogle()">
      <span style="color: #3880ff">
        <i class="fab fa-google"></i>
      </span>
        Navigera i Google
      </li>
      <li (click)="cancelNavigation()">
      <span style="color: red">
        <i class="fas fa-ban"></i>
      </span>
        Avbryt navigering
      </li>
    </ul>
  </ul>
</div>

<div *ngIf="filterService.activeFilters.length > 0 && !directionDestination && !directionOrigin"
     class="filter-list">
  <ul>
    <li class="toggle" (click)="filterListOpen = !filterListOpen">
      <i class="fas fa-filter"></i>
    </li>
    <ul class="list" [ngClass]="{'open': filterListOpen}">
      <li *ngFor="let sensor of sensors"
      (click)="onFilterResultClick(sensor)">
        {{sensor.coords.location.name}}
      </li>
      <li (click)="filterService.reset()">
         <span style="color: red">
        <i class="fas fa-ban"></i>
      </span>
        Nollställ filtrering
      </li>
    </ul>
  </ul>

</div>

<div class="follow-user-icon"
     [ngClass]="{'user-active': mapService.centerMapByUserState}">
  <i (click)="onToggleFollowUser()"
     class="fas fa-crosshairs"></i>
</div>

<agm-map #map
         (mapClick)="onMapClick($event)"
         (centerChange)="onMapCenterChanged($event)"
         [latitude]="centerMapLocation.lat"
         [longitude]="centerMapLocation.lng"
         [zoom]="zoom"
         [mapTypeControl]="MTC"
         [streetViewControl]="false"
         [zoomControl]="false"
         [mapTypeControlOptions]="MTCOption"
         [usePanning]="true"
>

  <agm-marker #marker
              (markerClick)="onMarkerClick($event)"
              *ngFor="let sensor of sensors"
              [latitude]="sensor.coords.lat"
              [longitude]="sensor.coords.lng"
              [iconUrl]="sensor.readings[0].value <= 65 ? sensor.readings[0].value < 50 ? markerIconLow : markerIconMiddle : markerIconHigh"
              [zIndex]="1">

  </agm-marker>
  <agm-marker (markerClick)="onUserMarkerClick()"
              *ngIf="!!mapService.userLocation"
              [latitude]="mapService.userLocation.lat"
              [longitude]="mapService.userLocation.lng"
              [iconUrl]="userIconOptions">

  </agm-marker>
  <agm-direction #direction
                 *ngIf="!!directionOrigin && !!directionDestination"
                 [origin]="directionOrigin"
                 [destination]="directionDestination"
                 [travelMode]="directionsOptions.selectedMode">
  </agm-direction>

</agm-map>