.header {
  display: grid;
}
img, h1 {
  display: inline-block;
}

.temperature {
  justify-self: end;
  display: inline-block;
  align-items: center;

  img {

    max-height: 40px;
    justify-self: end;
  }

  margin-right: 2%;
}

.button-container {
  display: block;
  align-items: end;
}

ion-spinner {
  display: block;
  margin: auto;
}

.decibel-container {
  padding: 2%;

  h3 {

    margin-right: 10px;
  }

  img {
    max-width: 30px;

  }
}

.image-container {
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    position: relative;
    transform: translateY(-20%);
  }
}

.amenities {
  color: #465D43;
  padding: 0 5%;
  font-size: smaller;



  ul {
    display: flex;
    grid-template-columns: 1fr 1fr;


    li {
      margin: 0.5em;
    }
  }
}

.description-container {
  padding: 1% 5%;
  background-color: rgba(247, 241, 227, 0.06);
  border-radius: 10%;
}

.segmentation {
  padding: 0 2%;
}

.decibel-container {
  font-weight: bold;
}

.last-updated-text {
  font-weight: normal;
  color: #747d8c;
  font-size: smaller;
  margin: auto 0;
}
ion-fab-button {
  --background:  #16b856;
  --background-activated: #465D43;
  --color: #fff;
}

ion-button {
  padding: 0 3%;
  --background:  #16b856;
  --background-activated: #465D43;
}

.navigate-btn {
  margin-top: auto;
}
ion-toolbar {
  --opacity: 0%;
}


