<div class="container">
  <div class="header">
    <h1>{{sensor.coords.location.name}}</h1>
    <div class="weather">
    <span *ngIf="!!weather" class="temperature">
      <h1>{{weather.temp | number:'1.0-0'}}°</h1>
    </span>
      <span *ngIf="!!weather" class="icon">
      <img [src]="weather.iconUrl">
    </span>
    </div>
  </div>

  <div class="image-container" *ngIf="sensor.coords.location.imgUrl !== '' && !!sensor.coords.location.imgUrl">
    <img #img [src]="sensor.coords.location.imgUrl" (click)="togglePopupImg(img.src)">
  </div>

  <div class="button-group">
    <ion-button (click)="onShowDirection()" size="small" color="primary">Hitta hit</ion-button>

    <span class="shareButtons">
        <share-buttons [theme]="'default'"
                       [include]="['facebook','twitter']"
                       [show]="2"
                       [showText]="false"
                       [size]="-4"
                       description="{{'Sitter i ' + sensor.coords.location.name + '! Det är ' + sensor.readings[0].value +
        'db just nu. Använd appen själv här:'}}"
                       [url]="'https://pvt.dsv.su.se/Group03'"
                       [autoSetMeta]="false"
        ></share-buttons>
  </span>
  </div>

  <span (click)="aboutPark = !aboutPark"  size="small" color="primary">Om parken<i class="fas"
    [ngClass]="aboutPark? 'fa-caret-up' : 'fa-caret-down'"></i></span>
  <div *ngIf="aboutPark">
      <ion-card>
          <ion-card-header>
              <ion-card-subtitle>Om parken</ion-card-subtitle>
            <ion-card-title>{{sensor.coords.location.name}}</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
           {{sensor.coords.location.description}}
          </ion-card-content>
      </ion-card>
      </div> 

  <div class="decibel-container">
    <h3>Aktuell ljudnivå:</h3>
    <img *ngIf="sensor.readings[0].value > 65" [src]="'/assets/icon/volume_high.png'">
    <img *ngIf="sensor.readings[0].value < 65 && sensor.readings[0].value >= 50"
         [src]="'/assets/icon/volume_middle.png'">
    <img *ngIf="sensor.readings[0].value < 50" [src]="'/assets/icon/volume_low.png'">
  </div>


  <div class="chart-container">
    <app-chart [hourMeanValues]="sensor.hourMeanValue"></app-chart>
  </div>

  <div class="amenities">
    <h3>Bekvämligheter</h3>
    <ul>
      <li *ngFor="let amenity of amenities">
        <i *ngIf="sensor.coords.location.amenities.includes(amenity.value)" class="fas fa-check"></i>
        <i *ngIf="!sensor.coords.location.amenities.includes(amenity.value)" class="fas fa-times"></i>
        {{amenity.sv}}
      </li>
    </ul>
  </div>
</div>
<div class="popup" *ngIf="popupOpen" (click)="togglePopupImg()">
  <img [src]="popupImgUrl">
</div>
