<div class="container">
  <div class="header">
    <h1>{{sensor.coords.location.name}}</h1>
    <span class="direction-button">
      <i (click)="onShowDirection()" class="fas fa-directions"></i>
    </span>
  </div>
  <div class="weather">
    <span *ngIf="!!weather" class="temperature">
      <h1>{{weather.temp | number:'1.0-0'}}°</h1>
    </span>
    <span *ngIf="!!weather" class="icon">
      <img [src]="weather.iconUrl">
    </span>
  </div>
  <div class="image-container" *ngIf="sensor.coords.location.imgUrl !== '' && !!sensor.coords.location.imgUrl">
    <img #img [src]="sensor.coords.location.imgUrl" (click)="togglePopupImg(img.src)">
  </div>
  <h3>Decibellnivå</h3>
  <app-chart [weekdayMeanValues]="sensor.weekdayMeanValue"
             [hourMeanValues]="sensor.hourMeanValue"></app-chart>
</div>
<div class="popup" *ngIf="popupOpen" (click)="togglePopupImg()">
  <img [src]="popupImgUrl">
</div>
