.container{
  padding: 0.1em 0.5em;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1% solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 6.7vh;

  img, h1{
    display: inline-block;
  }

  img{
    max-height: 30px;
    margin-right: 10px;
  }

  .logo{
    display: flex;
    align-items: center;

    h1{
      color: rgb(21, 184, 86);
      margin-right: 5px;
    }
  }

  h2{
    color: #465D43;
    font-size: 80%;
  }

  .temperature{
    justify-self: end;
    display: flex;
    align-items: center;

    img{
      margin-right: 10px;
      transform: scale(1.5);
    }
  }

}