.container{
  padding: 0.5em 2em;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ccc;

  img, h1{
    display: inline-block;
  }

  img{
    max-height: 40px;
  }

  .logo{
    display: flex;
    align-items: center;

    h1{
      color: rgb(21, 184, 86);
      margin-right: 10px;
    }
  }

  .temperature{
    justify-self: end;
    display: flex;
    align-items: center;

    img{
      margin-right: 10px;
      transform: scale(1.5);
    }
  }

}