<ion-header>
    <ion-toolbar>
        <ion-title>Avancerad sökning</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>Decibel</ion-label>
    <ion-item>
        <ion-range min="0" max="140" dualKnobs="true" step="100">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">140</ion-label>
        </ion-range>
    </ion-item>

    <ion-item>
        <ion-label>Parkbänkar</ion-label>
        <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Solstolar</ion-label>
        <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Badplats</ion-label>
        <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-button>Filtrera</ion-button>

    <ion-item>
        <ion-label>Antal resultat:</ion-label>
        <ion-label>resultatet</ion-label>
    </ion-item>


</ion-content>
