.container{
  margin-bottom: 10vh;
}
.button-container{
  text-align: center;
  margin-top: 1em;
}

.result-container{
  text-align: center;
  margin-top: 1em;

  span{
    display: block;
  }

  .result{
    font-size: 2em;
    background-color: #3880ff;
    box-shadow: 0px 11px 14px -5px rgba(0, 0, 0, 0.57);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;

  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .fa-spinner{
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    color: #3880ff;
    animation: loading 1.2s linear infinite;
  }

  .result-text{
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
  }
}

.filter-button{

}

.active{
  color: #3880ff;
}

label{
  margin-left: 1em;
  font-size: 0.8em;
}

ion-item{
  margin-bottom: 5px;
}

.filter-container{
  margin-bottom: 10vh;
}