<ion-content class="container">

  <app-search [setDisabled]="openFilterState"></app-search>
  <ion-item>
  <span class="filter-button"
        (click)="onToggleFilterForm()"
        [ngClass]="{'active': openFilterState}">
    Avancerad sökning
    <i class="fas"
       [ngClass]="openFilterState? 'fa-caret-up' : 'fa-caret-down'"></i>
  </span>
  </ion-item>

  <div *ngIf="openFilterState" class="filter-container">

    <form class="form" [formGroup]="filterService.form" (ngSubmit)="onSubmit()">

      <label for="latestDecibelRange" >Senaste decibellvärde</label>
      <ion-item>
        <ion-range #latestDecibelRange id="latestDecibelRange"
                   formControlName="latestDecibel"
                   min="0"
                   max="100"
                   dualKnobs="true"
                   width="100%"
                   (ionChange)="onRangeChange($event)">
          <ion-label slot="start">{{latestDecibelRange.value.lower}}</ion-label>
          <ion-label slot="end">{{latestDecibelRange.value.upper}}</ion-label>
        </ion-range>
      </ion-item>
      <label for="decibelMeanValue">Decibel-medelvärde för idag</label>
      <ion-item>
        <ion-range #decibelMeanValueRange id="decibelMeanValue"
                   formControlName="decibelMeanValue"
                   min="0"
                   max="100"
                   dualKnobs="true"
                   (ionChange)="onRangeChange($event)">
          <ion-label slot="start">{{decibelMeanValueRange.value.lower}}</ion-label>
          <ion-label slot="end">{{decibelMeanValueRange.value.upper}}</ion-label>
        </ion-range>
      </ion-item>
      <label for="distance">Max avstånd (km)</label>
      <ion-item>
        <ion-input #input
                   id="distance"
                   formControlName="distance"
                   type="number"
                   (input)="onFormChange()"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button type="submit" [disabled]="!filterService.form.valid">Filtrera</ion-button>
        <ion-button (click)="onClearFilters()">Nollställ filter</ion-button>
      </div>
    </form>

    <div class="result-container">
      <span *ngIf="!loadingState" class="result">{{filterService.tempFiltration.length}}</span>
      <span *ngIf="loadingState" ><i class="fas fa-spinner"></i></span>
      <span class="result-text">Antal resultat</span>
    </div>
  </div>


</ion-content>
