<nav>
  <ul>
    <li routerLink="/"
        (click)="closePlaces()"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        [ngClass]="navigationService.placesIsOpen? 'inactive' : ''">
      <i class="fas fa-map-marked-alt"></i>
    </li>
    <li (click)="onToggleFollowUser()"
        [ngClass]="mapService.centerMapByUserState? 'active' : ''">
      <i class="fas fa-street-view"></i>
    </li>
    <li routerLink="/settings"
        (click)="closePlaces()"
        routerLinkActive="active">
      <i class="fas fa-bars"></i>
    </li>
    <li routerLink="/test-popup"
        (click)="closePlaces()"
        routerLinkActive="active">
      <i class="fas fa-teeth"></i>
    </li>
  </ul>
</nav>