// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@ngx-share/button/themes/default/default-theme';

* {
  :focus {
    outline: 0;
  }
}

html {
  font-size: 1.1em;
}

h1, h2, h3, ul, li, div{
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}


.mat-dialog-container{
  overflow-y: scroll !important;
  max-height: 100vh !important;
  padding: 10px !important;
}

.nav-bar {
  position: fixed;
  bottom: 0;

}


@media only screen and (min-width: 600px) {
  .mat-dialog-container{
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 5px;
    }
  }
}
