.hour-chart {
  .header{
    h3{
      display: block;
    }
    .day {
      display: block;
      h3 {
        display: inline-block;
        margin: 0 1em;
      }
      span{
        cursor: pointer;
        color: #3780ff;
      }
    }
  }

  .chart-container{
    overflow: scroll;
    &::-webkit-scrollbar {
      -webkit-appearance: scrollbarbutton-down;
    }

    &::-webkit-scrollbar:vertical {
      width: 12px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #ffffff;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }
  }
}

.inactive{
  color: #ccc;
  cursor: auto;
}

@media only screen and (min-width: 600px) {

  .hour-chart{

    .header{
      h3{
        display: inline-block;
        margin-right: 10px;
      }
      .day {
        text-align: center;
        display: inline-block;
      }
    }

    .chart-container{
      max-height: inherit;
      overflow: auto;
    }
  }
}