.hour-chart {
  .day {
    text-align: center;
    h3 {
      display: inline-block;
      margin: 0 1em;
    }
    span{
      cursor: pointer;
    }
  }
  .chart-container{
    max-height: 200px;
    overflow: scroll;
    border: 1px solid rgba(204, 204, 204, 1);
    &::-webkit-scrollbar {
      -webkit-appearance: scrollbarbutton-down;
    }

    &::-webkit-scrollbar:vertical {
      width: 12px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #ffffff;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }
  }
}

.inactive{
  color: #ccc;
  cursor: auto;
}

@media only screen and (min-width: 600px) {
  .chart-container{
    max-width: 400px;
  }
  .weekdays-chart{
    width: 50%;
    display: inline-block;
  }
  .hour-chart{
    width: 50%;
    display: inline-block;
    .chart-container{
      max-height: inherit;
      overflow: auto;
      max-width: 400px;
    }
  }
}