<div class="weekdays-chart" *ngIf="barChartData.length > 0">
  <div class="chart-container">
    <canvas baseChart
            height="250px"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
<div class="hour-chart" *ngIf="hourChartData.length > 0">
  <div class="day">
    <span><i (click)="setDay(-1) " class="fas fa-chevron-left"></i></span>
    <h3>{{days[day]}}</h3>
    <span><i (click)="setDay(1)" class="fas fa-chevron-right"></i></span>
  </div>
  <div class="chart-container">
    <canvas baseChart
            height="400px"
            [datasets]="hourChartData"
            [labels]="hourChartLabels"
            [options]="hourChartOptions"
            [plugins]="hourChartPlugins"
            [legend]="hourChartLegend"
            [chartType]="hourChartType">
    </canvas>

  </div>
</div>
