ion-card-content ion-card-subtitle {
  margin-bottom: 5%;
}

ion-card-subtitle {
  margin-bottom: 0;
}

ion-card-content {
  padding-top: 0;
}

i {
  color: gray;
}

ion-icon {
  color: #42f0b6;
}

.last-card {
  padding-bottom: 15%;
}

ion-card-header {
  padding-top: 2%;
}

