<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="" text="" color="secondary"></ion-back-button>
        </ion-buttons>
        <ion-title color="tertiary"><h3>Information</h3></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset="true">
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img [src]="'assets/icon/volume_high.png'"></ion-img>
            </ion-thumbnail>
            <ion-label>Hög ljudnivå</ion-label>
            <ion-note>65+ DB</ion-note>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img [src]="'assets/icon/volume_middle.png'"></ion-img>
            </ion-thumbnail>
            <ion-label>Medel ljudnivå</ion-label>
            <ion-note>50-65 DB</ion-note>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img [src]="'assets/icon/volume_low.png'"></ion-img>
            </ion-thumbnail>
            <ion-label>Låg ljudnivå</ion-label>
            <ion-note>0-50 DB</ion-note>
        </ion-item>
    </ion-list>
    <div class="Segmentation">
        <ion-segment [(ngModel)]="activeState" color="secondary">
            <ion-segment-button value="issues">
                <ion-label>Störningar</ion-label>
            </ion-segment-button>
            <ion-segment-button value="about">
                <ion-label>Om oss</ion-label>
            </ion-segment-button>
            <ion-segment-button value="contact">
                <ion-label>Kontakta oss</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div class="issues-text-container" [ngSwitch]="activeState">
            <ion-list inset="true" *ngSwitchCase="'issues'">
                <h1>Nuvarande störningar</h1>
                <h5 *ngIf="sensors.length === 0">Inga störningar</h5>
                <ion-item *ngFor="let sensor of sensors">
                    <i class="fas fa-exclamation-triangle" slot="start"></i>
                    <div>
                        <ion-label>{{ sensor.coords.location.name}}</ion-label>
                        <ion-note>Senast uppdaterad: {{sensor.readings[0].date}}
                             {{sensor.readings[0].time.substring(0, 5)}}</ion-note>
                    </div>
                </ion-item>
            </ion-list>

            <div class="about-text-container" *ngSwitchCase="'about'">
                <h1>Stocalm</h1>
                <h5>Putting calm to your everyday big city living 🍃</h5>
                    Stocalm started up in 2019, and we've since the beginning been on a truly speechless ride. What was
                    from
                    the
                    beginning our idea to solve the issues we saw with living in a big city such as ours truly loved
                    Stockholm,
                    has now exploded and evolved to the very application you are using as you read this 🚀<br><br> We
                    wanted
                    to
                    create something useful, meaningful and above all something helpful for our fellow co-citizens. We
                    owe a
                    huge thanks to the contributors and supporters of this project, we wouldn't be us nor here without
                    you  🙌❤️

            </div>
            <div *ngSwitchCase="'contact'">
                <div class="contact-text-container">
                    <h1>Kul att du vill höra av dig!</h1>
                    Bästa sättet att kontakta oss är genom att skicka över ett mail,
                    vi lovar och svär att vi svarar så fort vi bara kan!
                    <br><br>
                    Vår mailadress är👇<br> <span class="email">PVTGrupp3@Gmail.com</span>
                </div>
            </div>

        </div>
    </div>
</ion-content>
