<ion-header>
    <ion-toolbar>
        <ion-title>issues & us</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="mail" slot="icon-only"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <i class="fas fa-exclamation-triangle" slot="end"></i>
            <ion-card-subtitle>Issues</ion-card-subtitle>

        </ion-item>
        <ion-card-header><h1>Current disruptions</h1></ion-card-header>
        <ion-list>
            <ion-item *ngFor="let sensor of sensors">
                <ion-label>{{ sensor.coords.location.name}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
    <div class="last-card">
        <ion-card>
            <ion-item>
                <i class="fas fa-info-circle" slot="end"></i>
                <ion-card-subtitle>About us</ion-card-subtitle>
            </ion-item>

            <ion-card-header><h1>Stocalm</h1></ion-card-header>

            <ion-card-content>
                <ion-card-subtitle>Putting calm to your everyday big city living</ion-card-subtitle>
                Stocalm started up in 2019, and we've since the beginning been on a truly speechless ride. What was from
                the
                beginning our idea to solve the issues we saw with living in a big city such as ours truly loved
                Stockholm,
                has now exploded and evolved to the very application you are using as you read this.<br><br> We wanted
                to
                create something useful, meaningful and above all something helpful for our fellow co-citizens. We owe a
                huge thanks to the contributors and supporters of this project, we wouldn't be us nor here without
                you.<br><br> Let's continue the ride together and make Stockholm better for all.
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>
